.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #FFF;
    border-radius: 8px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}

.titulo{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.subtitulo{
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.botao{
    height: 40px;
    background: none;
    border-radius: 5px;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.botao:hover{
    background-color: #4CAF50;
    color: white;
}